<div class="container table-responsive col-lg-offset-2 col-lg-8">
  <div clsss="row">
    <br>
    <h1>{{model.name}}'s premises</h1>
    <br>
    <table class="table">
      <thead>
        <th>Street</th>
        <th>City</th>
        <th>County</th>
        <th>Country</th>
      </thead>
      {{#each model.premises as |premise|}}
        <tr>
          <td>{{premise.street}}</td>
          <td>{{premise.city}}</td>
          <td>{{premise.county}}</td>
          <td>{{premise.country}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
