
{{customer-create}}

{{!-- {{input type="text" placeholder="Name" value=model.name class="form-control"}}
{{input type="text" placeholder="Email" value=model.email class="form-control"}} --}}

{{!-- <form {{action "createCustomer" on="submit"}}>
  <table class="table">
    <tr>
      <td>Name</td>
      <td>
        {{input type="text" value=model.name class="form-control"}}
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        {{input type="text" value=model.email class="form-control"}}
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="btn btn-primary"
          type="submit"
        >
          Confirm
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</form> --}}

{{!-- <div class="container">
  <h2 class="mx-auto"> New Customer</h2>

</div> --}}
