{{outlet}}

<div class="container">
  <h1>{{model.name}}'s premises</h1>
  <table class="table">
    <tr>
      <td>Street</td>
      <td>City</td>
      <td>County</td>
      <td>Country</td>
    </tr>
    {{#each model.premises as |premise|}}
      <tr>
        <td>{{premise.street}}</td>
        <td>{{premise.city}}</td>
        <td>{{premise.county}}</td>
        <td>{{premise.country}}</td>
      </tr>
    {{/each }}
  </table>
</div>